Add new course

<form action="/add" method="POST">
<div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Enter name"></span>
</div>
<div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
</div>
<div class="input-field">
    <input id="image" name="image" type="text" class="validate" required>
    <label for="image">URL image</label>
    <span class="helper-text" data-error="Enter ural image"></span>
</div>

<button class="btn btn-primary">Add course</button>
</form>